<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @my_thread.title %>
</p>

<%= link_to 'Edit', edit_my_thread_path(@my_thread) %> |
<%= link_to 'Back', my_threads_path %>

<p>Comments</p>
<ul>
  <!-- comments\/new、to comments#create -->
  <li>
    <%= form_for [@my_thread, @my_thread.comments.build] do |f|%>
      <%= f.text_field :body %>
      <%= f.submit %>
    <% end %>
  </li>
  <!-- comments\/index -->
  <% @my_thread.comments.each do |comment| %>
  <li>
    <%= comment.body %>
    <%= link_to '[編集]', edit_my_thread_comment_path(comment.my_thread_id, comment.id) %>
    <!-- to comments#destroy -->
    <%= link_to '[削除]', my_thread_comment_path(comment.my_thread_id, comment.id), method: :delete, data: { confirm: "削除しますか？" } %>
  </li>
  <% end %>
</ul>
